absl-py==2.3.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
aiosqlite==0.21.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
asttokens==2.4.1
asyncio==4.0.0
attrs==25.3.0
blinker==1.9.0
blis==1.2.0
browserforge==1.2.3
CacheControl==0.14.1
cachetools==5.5.0
camoufox==0.4.11
catalogue==2.0.10
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.8
cloudpathlib==0.20.0
colorama==0.4.6
comm==0.2.2
confection==0.1.5
contourpy==1.3.1
cryptography==43.0.3
cycler==0.12.1
cymem==2.0.11
debugpy==1.8.5
decorator==5.1.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile==2.0.0
executing==2.0.1
filelock==3.15.4
firebase-admin==6.5.0
Flask==3.1.2
flatbuffers==25.2.10
fonttools==4.55.3
frozenlist==1.7.0
fsspec==2024.6.1
geoip2==5.1.0
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
greenlet==3.2.4
grpcio==1.67.1
grpcio-status==1.67.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httplib2==0.22.0
huggingface-hub==0.27.1
hydra-core==1.3.2
Hypercorn==0.17.3
hyperframe==6.1.0
idna==3.10
iopath==0.1.10
ipykernel==6.29.5
ipython==8.26.0
itsdangerous==2.2.0
jax==0.7.1
jaxlib==0.7.1
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.8
langcodes==3.5.0
language-tags==1.2.0
language_data==1.3.0
lxml==6.0.2
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.7
maxminddb==2.8.2
mdurl==0.1.2
mediapipe==0.10.21
ml_dtypes==0.5.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.6.4
murmurhash==1.0.12
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
numpy==2.2.6
omegaconf==2.3.0
opencv-contrib-python==4.11.0.86
opencv-python==4.12.0.88
openpyxl==3.1.5
opt_einsum==3.4.0
orjson==3.11.3
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
parso==0.8.4
patchright==1.55.2
pillow==10.4.0
platformdirs==4.2.2
playwright==1.55.0
polars==1.33.1
portalocker==3.2.0
preshed==3.0.9
priority==2.0.0
prompt_toolkit==3.0.47
propcache==0.3.2
proto-plus==1.25.0
protobuf==4.25.8
psutil==6.0.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pyee==13.0.0
Pygments==2.18.0
PyJWT==2.9.0
pyparsing==3.2.0
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32==306
PyYAML==6.0.2
pyzmq==26.1.1
Quart==0.20.0
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rsa==4.9
safetensors==0.5.2
# Editable install with no version control (SAM-2==1.0)
-e c:\users\projo\onedrive - singapore management university\smu year 2\misc\sam2
scikit-learn==1.6.1
scipy==1.15.1
screeninfo==0.8.1
selenium==4.35.0
sentencepiece==0.2.1
setuptools==74.0.0
shellingham==1.5.4
six==1.16.0
smart-open==7.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.2
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
stack-data==0.6.3
sympy==1.14.0
thinc==8.3.4
threadpoolctl==3.5.0
timm==1.0.19
tokenizers==0.21.0
torch==2.8.0
torchaudio==2.4.0
torchvision==0.23.0
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.1
trio==0.30.0
trio-websocket==0.12.2
TwoCaptcha==0.0.1
typer==0.15.1
typing_extensions==4.14.1
tzdata==2024.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
ultralytics==8.3.199
ultralytics-thop==2.0.17
undetected-chromedriver==3.5.5
uritemplate==4.1.1
urllib3==2.5.0
uv==0.9.3
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
xgboost==2.1.3
yarl==1.20.1
